/* 
 Dark Grey: #1b1b1b
 Med Grey: #424242
 Light Grey: #6d6d6d

 Dark Green: #32cb00
 Med Green: #76ff03
 Light Green: #b0ff57

*/

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #6d6d6d;
    color:#1b1b1b
}

.navbar nav {
    background-color: #1b1b1b;
    color: #76ff03;
}

.nav-link {
    color: #76ff03;
}

.nav-link:hover {
    color: #32cb00;
}

.card {
    margin: 1.5rem;
    width: 20rem;
}