body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    background-color: #002642;
    box-shadow: inset 0px 0px 1000px 50px #000;
    color: #e8f5ff;
}

.card {
    background-color: #e8f5ff;
    width: 20rem;
    padding: 5px 5px 5px 5px;
    margin: 10px 10px 10px 10px;
  }
  
.card p {
    color: black;
}

/* .crop {
    height: auto;
    width: 175px;
    overflow: hidden;
}

.crop img {
    height: 150px;
    width: auto;
} */